<div class="ui attached message">
    <h2 class="ui header">Orders</h2>
</div>
<div class="ui attached segment">
    <div class="ui animated selection divided list">
        <div class="item">
            <div class="field fix-checkbox-position">
                <div class="ui toggle checkbox">
                    <input id="0" type="checkbox">
                    <label for="0"></label>
                </div>
            </div>
            <div class="content">
                <div class="ui fluid input">
                    <input type="text" placeholder="Place your order">
                </div>
            </div>
        </div>
        <div class="item">
            <i class="right floated inverted red circular remove icon list-btn"></i>
            <i class="right floated inverted green circular check icon list-btn"></i>
            <i class="right floated inverted teal circular edit icon list-btn"></i>
            <div class="field fix-checkbox-position">
                <div class="ui toggle checkbox">
                    <input id="1" type="checkbox">
                    <label for="1"></label>
                </div>
            </div>
            <div class="content">
                <div class="header">Snickerdoodle</div>
            </div>
        </div>
        <div class="item">
            <i class="right floated inverted red circular remove icon list-btn"></i>
            <i class="right floated inverted green circular check icon list-btn"></i>
            <i class="right floated inverted teal circular edit icon list-btn"></i>
            <div class="field fix-checkbox-position">
                <div class="ui toggle checkbox">
                    <input id="1" type="checkbox">
                    <label for="1"></label>
                </div>
            </div>
            <div class="content">
                <div class="header">Snickerdoodle</div>
            </div>
        </div>
        <div class="item">
            <i class="right floated inverted red circular remove icon list-btn"></i>
            <i class="right floated inverted green circular check icon list-btn"></i>
            <i class="right floated inverted teal circular edit icon list-btn"></i>
            <div class="field fix-checkbox-position">
                <div class="ui toggle checkbox">
                    <input id="1" type="checkbox">
                    <label for="1"></label>
                </div>
            </div>
            <div class="content">
                <div class="header">Snickerdoodle</div>
            </div>
        </div>
    </div>
</div>
<div class="ui bottom attached info message">
    <a class="ui black label">
        First
    </a>
    <a class="ui green label">
        Fun
    </a>
    <a class="ui red label">
        Happy
    </a>
    <a class="ui blue label">
        Smart
    </a>
    <a class="ui orange label">
        Radical
    </a>
    <a class="ui purple label">
        Insane
    </a>
    <a class="ui teal label">
        Exciting
    </a>
</div>