<div class="ui attached message">
    <h2 class="ui header">Hotel Services
        <label id="remaining" class="ui black label pull-right order-link">
            <%= remaining %> <%= remaining > 1 ? 'items' : 'Item' %> Left
        </label>
    </h2>
</div>
<div class="ui attached segment">
    <div class="ui animated selection divided list">

    </div>
</div>
<div class="ui bottom attached info message" id="filters">
    <a class="ui green label order-link" id="all" href="#order/all">
        All
    </a>
    <a class="ui red label order-link" id="active" href="#order/active">
        Active
    </a>
    <a class="ui blue label order-link" id="completed" href="#order/completed">
        Completed
    </a>
    <a id="done" class="ui teal label pull-right order-link">
        Clear Completed (<%= completed %>)
    </a>
</div>
