<i class="right floated inverted red circular remove icon list-btn"></i>
<i class="right floated inverted green circular check icon list-btn"></i>
<i class="right floated inverted teal circular edit icon list-btn"></i>
<div class="field fix-checkbox-position">
    <div class="ui toggle checkbox">
        <input id="1" type="checkbox">
        <label for="1"></label>
    </div>
</div>
<div class="content">
    <div class="header"><%= title %></div>
</div>
