<div class="ui form segment">
     <div class="field">
        <label>Username</label>
        <input placeholder="Username" type="text" id="signup-username">
    </div>
    <div class="field">
        <label>E-Mail</label>
        <input placeholder="Email" type="text" id="signup-mail">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" id="signup-password">
    </div>
    <div class="ui blue submit button">Sign Up</div>
</div>